* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .container {
        width: 1200px;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}