.value-section {
    background: #F9F7F4;
    width: 1200px;
    height: 683px;
    margin-top: 80px;

    &-block {
        display: flex;
        padding-left: 80px;
        flex-direction: column;
        gap: 42px 0;
        padding-top: 78px;

        &__title {
            font-family: 'EB Garamond';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 48px;
            letter-spacing: 2px;
            color: #000000
        }

        &-flexbox {
            display: flex;
            align-items: center;
            gap: 0 20px;

            &-innerBox {
                width: 333px;
                height: 435px;
                background: #FFFFFF;
                border: 1px solid #000000;
                display: flex;
                align-items: center;
                

                &-contentBox {
                    display: flex;
                    flex-direction: column;
                    gap: 17px 0;
                    padding-left: 31px;

                    &__title {
                        font-family: 'EB Garamond';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 29px;
                        letter-spacing: 0.6px;
                        color: #000000;
                    }

                    &__text {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 22px;
                        width: 201px;
                        color: #000000;
                    }

                    &__img {
                        width: 271px;
                        height: 271px;
                    }
                }
            }
        }
    }
}